 html, body {width:100%;height:100%;}
 nav {z-index:999; }
/* background-color: #000 ;opacity:0.7;*/
 ul{list-style: none;}

/*header样式 开始*/
.padli{padding-left: 36%; padding-right: 30%}
/*nav样式 开始*/
.my-navbar {padding:20px 0;transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;}
.my-navbar a{background:transparent !important;color:#fff !important; font-size: 25px; font-family:华文楷体;}
.my-navbar a:hover {color:#45bcf9 !important;background:#FFFFF0 !important;outline:0}
.my-navbar a {transition: color 0.5s ease-in-out;}
/*.my-navbar ul li:hover{text-decoration:underline !important;color: #C20C0C !important;}*/
.top-nav {padding:0;background:#000;}
/*nav样式 结束*/
button.navbar-toggle {background-color:#fbfbfb;}
button.navbar-toggle > span.icon-bar {background-color:#dedede}
 /*背景图片*/
.bg {height: auto;max-width: 100%;display: block;padding: 100px 0;text-align: center;color: #fff;background: url(../imgs/LyBJs.jpg) no-repeat bottom center; background-size: cover;}
.bg ul li a {text-decoration : none; }
.bg h1{font-size: 50px; font-family:隶书; color: #5b99be;}
.bg p{color: #5b99be;}
.bg .uls{padding-top: 10%;}
.bg .ul {padding-left: 40%; padding-top: 5%; padding-bottom: 10%;}
.bg .li {float:left; padding-left: 3%;}
.bg .li .btn1{color:#FFF; background-color: #228B22;}
.bg .li .btn2{color:#228B22; background: none !important;}
.bg .li .btn3{color:#5b99be; background: none !important;}
/*header样式 结束*/

/*first section 开始*/
.col-12-top {margin-top: -5%;}
.profile-pic{ width:65px; height:65px; border-radius:50%; margin-bottom:15px; box-shadow:0 0 1px rgba(0,0,0,0.5);}
.searchbar-form .supercool-shadow{ margin-bottom:50px; max-height:600px; border-radius:3px; margin-top:50px; padding:5% 5% 10% 5%; -webkit-transition:0.3s ease; }
.bg-white{ background:white; color:#212121; }
.col-xs-offset{ margin-left:8.3333333%;}
.search-crea-project{ position:relative; width:40%; float:left; margin-left:6%; margin-top:22px;}
.photo{ padding-top:10px; padding-bottom:10px;}
/*阴影*/
.yy{box-shadow: 10px 10px 10px #C2C2C2; margin-top: 40px;}
/*图片的缩放*/
.img2 {  transition: All 0.2s ease-in-out;  -webkit-transition: All 0.2s ease-in-out; -moz-transition: All 0.2s ease-in-out; -o-transition: All 0.2s ease-in-out; }
.img2:hover { transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); }
/*first section 结束*/

/*second section 开始*/
.second-section {padding-top: 5%;}
.second-section h5 {padding-top: 2%; padding-bottom: 2%; color: #5b99be;}
/*second section 结束*/

/*third section 开始*/
.third-section { padding-bottom: 5%; padding-top: 5%;}
.third-section .col-sm-6 .position{padding-left: 10%;}
.third-section ul{padding-left: 0px !important;}
.third-section ul li{padding-top: 5px !important; font-size: 15px;}
.third-section .col-sm-3 {padding: 2px !important;}
/*third section 结束*/

/*fourth section 开始*/
.fourth-section {padding-top: 5%;}
.fourth-section .yys{box-shadow: 10px 5px 20px #C2C2C2;}
.fourth-section .btns {background: #c986a1 !important; color: #FFF;}
.fourth-section .ul {padding-top: 5%;}
.fourth-section ul{padding-left: 0px !important;}
.fourth-section ul li{padding-top: 5px !important; font-size: 15px;}
.fourth-section .col-sm-6 .position{padding-left: 10%;}
/*fourth section 结束*/

/*fifth section 开始*/
.fifth-section {padding-top: 5%; padding-bottom: 5%;}
/*fifth section 结束*/

/*footer 开始*/
.col-8 {background: url(../imgs/foot.jpg)no-repeat bottom center; background-size: cover;}
.col-sm-8 ul li{float:left; padding-left:5%; }
.col-sm-8 ul li a {text-decoration : none; font-size: 20px; font-family: 宋体; color: #000;}
.col-sm-8 ul li a:hover{ color: #c986a1;}
.col-sm-12  .pad {padding-top: 5%; padding-bottom: 2%;}

/*经过旋转*/
.xz { transition: All 0.4s ease-in-out;  -webkit-transition: All 0.4s ease-in-out;  -moz-transition: All 0.4s ease-in-out; -o-transition: All 0.4s ease-in-out;}
.xz:hover { transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg);  -o-transform: rotate(360deg); -ms-transform: rotate(360deg);  }
/*footer 结束*/